#item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

#item {
    width: 25%;
    height: auto;
    margin-left: 6%;
    padding: 0.5%;
    border-radius: 15px;
    background-color: rgb(197, 197, 197);
    border: 2px solid rgba(148, 148, 148, 0.8);
    cursor: pointer;
    margin-top: 1.5%;
    position: relative;
    transition-duration: 0.20s;
}

#item:hover {
    width: 25%;
    height: auto;
    margin-left: 6%;
    padding: 0.5%;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(177 177 177);
    border: 2px solid rgba(148, 148, 148, 0.5);
    margin-top: 1.5%;
    position: relative;
    transition-duration: 0.20s;

}

.item-title-and-btn {
    display: flex;
    justify-content: space-between;
}

.item-title {
    line-height: 1.5em;
    height: auto;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: initial;
}

.delete-btn {
    border-radius: 50%;
    transform: scale(0.6, 0.5) translate(30%, -60%);
    height: 100%;
}

.task-btn {
    transform: scale(150%, 65%) translate(-12%, -12%);
    background-color: rgb(197, 197, 197);
    display: none;
    height: 100%;
    position: inherit;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
    transition-duration: 0.20s;
}

.item-tasks {
    display: flex;
    justify-content:space-between;
    padding-left: 2%;
    height: auto;
    padding-bottom: 2%;
}

.item-tasks:hover {
    display: flex;
    justify-content:space-between;
    padding-left: 2%;
    height: auto;
    color: white;
    padding-bottom: 2%;
}

.item-tasks:hover  .task-btn {
    display: block;
    padding: 0%;
    margin: 0%;
    background-color: transparent;
    transition-duration: 0.20s;
    color: rgba(255, 0, 0, 0.753);
}

.item-tasks:hover  .task-btn:hover {
    display: block;
    padding: 0%;
    margin: 0%;
    background-color: transparent;
    transition-duration: 0.20s;
    color: rgba(148, 5, 5, 0.801)
}

// [id^= task-p] {
// text-decoration: none;
// }

.item-task-toggle {
    text-decoration: line-through;
}

h3 {
    font-size: 1.25rem
}

h5 {
    font-size: 1rem;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: initial;
    padding-right: 1.5%;
}

@media screen and (max-width: 950px) {

    #item-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        margin-left: 17.3%;
    };

    #item {
        width: 70%;
        height: auto;
        margin-left: 4.5%;
        padding: 0.5%;
        border-radius: 15px;
        background-color: rgb(197, 197, 197);
        border: 2px solid rgba(148, 148, 148, 0.8);
        cursor: pointer;
        margin-top: 1.5%;
        position: relative;
        transition-duration: 0.3s;

    };

    #item:hover {
        width: 70%;
        height: auto;
        margin-left: 4.5%;
        padding: 0.5%;
        border-radius: 15px;
        background-color: rgba(167, 167, 167, 0.8);
        border: 2px solid rgba(148, 148, 148, 0.5);
        cursor: pointer;
        margin-top: 1.5%;
        position: relative;
        transition-duration: 0.3s;
    };

    .delete-btn {
        border-radius: 50%;
        transform: scale(0.6, 0.5) translate(30%, -55%);
    };

}

